<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>New Listing</title>
</head>
<%- include('../partials/header') %>
<div class="container"></div>
<form class="new-form" action="/listings" method="POST">
  <label>date
    <input class="entry" type="text" name="date">
    </label><br>
  <label>title
    <input class="entry" type="Text" name="title">
  </label><br>
  <label>budget
    <input class="entry" type="number" name="budget">
  </label><br>
  <label>location
    <input class="entry" type="Text" name="location">
  </label><br>
  <label>name
    <input class="entry" type="Text" name="name">
  </label><br>
  <label>contact
    <input class="entry" type="Text" name="contact">
  </label><br>
  <input class="entry" type="submit" value="Add Listing">
</form>

<%- include('../partials/footer') %>